header
    text-align: center
    height: 85vh
    position: relative
    overflow: hidden
    nav
        padding-top: 30px
        display: flex
        align-items: flex-end
        justify-content: space-evenly
        font-family: 'Ubuntu'  
        position: absolute
        z-index: 10
        width: 100%
        .navG
            border-top: white solid 1px
            border-bottom: white solid 1px
            a   
                padding: 20px 35px
                display: inline-block
                color: white
                text-decoration: none
                &:hover
                    background-color: #C42D40
        .navD
            border-top: white solid 1px
            border-bottom: white solid 1px
            a
                padding: 20px 35px
                display: inline-block
                color: white
                text-decoration: none
                &:hover
                    background-color: #C42D40
    .carousel
        position: absolute
        height: 100%
        .carousel-inner
            img
                filter: brightness(30%)
        .carousel-indicators
                li
                    border-radius: 50%
                    height: 15px
                    width: 15px
    .baral
        display: flex
        flex-direction: column
        margin: 120px 0 75px 0
        color: white
        font-family: 'Courgette'
        text-align: center
        position: absolute
        z-index: 99
        top: 15%
        left: 33%
        span
            font-size: 42px
            margin: -10px 0
        .bigTxt
            font-size: 75px
        .redTxt
            font-size: 75px
            color: #C42D40
    .badges
        position: absolute
        bottom: 20%
        left: 39%
        .badge
            padding: 15px 30px
            font-size: 14px
            font-weight: normal
            margin: 0 15px
    .dents
        position: absolute
        bottom: 0%
        display: flex