header
    background-color: black
    background-attachment: fixed
    text-align: center
    height: 85vh
    nav
        padding-top: 30px
        display: flex
        align-items: flex-end
        justify-content: space-evenly
        font-family: 'Ubuntu'  
        .navG
            border-top: white solid 1px
            border-bottom: white solid 1px
            a   
                padding: 20px 35px
                display: inline-block
                color: white
                text-decoration: none
                &:hover
                    background-color: #C42D40
        .navD
            border-top: white solid 1px
            border-bottom: white solid 1px
            a
                padding: 20px 35px
                display: inline-block
                color: white
                text-decoration: none
                &:hover
                    background-color: #C42D40
    .baral
        display: flex
        flex-direction: column
        margin: 120px 0 75px 0
        color: white
        font-family: 'Courgette'
        text-align: center
        span
            font-size: 42px
            margin: -10px 0
        .bigTxt
            font-size: 75px
        .redTxt
            font-size: 75px
            color: #C42D40
    .badge
        padding: 15px 30px
        font-size: 14px
        font-weight: normal
        margin: 0 15px