.pageOneExt
    background-image: url("../img/main_bg.jpg")
    padding: 50px 200px
    .pageOne
        background-color: white
        border: 1px solid #dadada
        .pageTop
            display: flex
            justify-content: space-between
            align-items: center
            font-family: 'Courgette'
            font-size: 45px
            .redTxt
                font-size: 62px
                color: #C42D40
        .deco
            display: flex
            justify-content: center
            margin-top: -30px
        .dissert
            display: flex
            justify-content: center   
            margin-top: 60px
            p
                width: 40%
                font-family: 'Ubuntu'
        .menuLTitle
            span
                font-family: 'Courgette'
                font-size: 45px
                margin-bottom: 10px
                .redTxt
                    font-size: 62px
                    color: #C42D40
        .menuList
            margin: 0 10px
            .menuL
                font-family: 'Courgette'
                display: flex
                flex-direction: column
                width: 20%
                .icone
                    border-bottom: 1px solid #dadada
                    margin-top: 20px
                    font-size: 37px
                    padding: 0 80px
                    &:hover
                        border-right: 5px #C42D40 solid
                        i
                            color: #C42D40
                    i
                        font-size: 60px
                        color: #dadada
            .menuR
                width: 80%
                border-left: 1px solid #dadada
                padding: 20px
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                .menuItem
                    display: flex
                    height: 120px
                    width: 48%
                    align-items: center
                    border-bottom: 1px solid #dadada
                    border-bottom-style: dotted
                    img
                        border: 6px solid #dadada
                        border-radius: 50%
                        height: 100px
                    .prix
                        font-size: 20px
                        background-color: #EFEFEF
                        padding: 0 15px
                    .mIM
                        padding: 40px 20px
        .pageBottom
            margin-top: 50px
            display: flex
            justify-content: space-between
            div
                margin-top: 50px
    .meet
        span
            font-family: 'Courgette'
            font-size: 45px
            margin-bottom: 10px
            .redTxt
                font-size: 62px
                color: #C42D40